@import 'vars';
@import 'global';
@import 'fonts';

.header{
    &__logo-link{
        // position: fixed;
        // height: 100%;
        margin-left: 50px;
        margin-top: 50px;
        display: block;
        span{
            font-size: 36px;
            line-height: 22px;
            letter-spacing: 2.4px;
            position: relative;
            color: $black;
            font-weight: 300;
            font-family: 'Raleway Dots', cursive;
            // position: fixed;
            // z-index: 800;
            display: block;
            &:after {
                content: '';
                border-radius: 100%;
                height: 3px;
                width: 3px;
                position: absolute;
                background: #f4df4f;
                top: 88%;
                left: initial;
                bottom: 0;
                display: inline-block;
            }
        }
    }
}
.introduce{
    margin: 30px 0 0px 100px;
    &__block{
        display: inline-block;
        h6{
            font-weight: 400;
            letter-spacing: 2px;
            line-height: 16px;
            color: $sky;
        }  
        p{
            width: 482px;
            font-size: 28px;
            line-height: 40px;
            span{
                color: $sky;
            }
        }
    }
}
.navigation-wrapper ul {
  top: 22%;
  list-style: none;
  position: absolute;
  left: 35%;
    .navigation-item {
        display: block;
        user-select: none;
        margin: 100px 0;
        a {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 88px;
            text-decoration: none;
            //   color: rgba(255, 255, 255, 0.3);
            color: #333;
            span {
                position: relative;
                display: block;
            }
        }
    }
}
.navigation-item span{
    &:before {
        top: 0;
        left: 50%;
        width: 0;
        line-height: 100px;
        color: #f4df4f;
        overflow: hidden;
        position: absolute;
        content: attr(data-text);
        transition: all 0.6s cubic-bezier(0.84, 0, 0.08, 0.99);
    }
    &:hover::before {
        width: 100%;
        animation: line-animation 3s left ;
    }
}
.project-preview-wrapper {
    width: 100%;
    // height: 100vh;
    // position: fixed;
    display: flex;
    justify-content: center;
    .project-preview {
        position: fixed;
        top: 12%;
        left: 58%;
        width: 0px;
        height: 400px;
        background: url(img-1.jpg) no-repeat 50% 50%;
        background-size: cover;
        overflow: hidden;
    }
}
.promo{
    height: 50vh;
    overflow: hidden;
    cursor: default;
    &__next{
        position: absolute;
        z-index: 5;
        right: 0;
        width: 120px;
        height: 100vh;
        background: $sky;
        cursor: pointer;
        top: -50px;
    }
    &__content{
        a{
            .promo__item-bg{
                // position: absolute;
                    // right: 0;
                    // top: 0;
                    // width: 108vw;
                    // height: 100%;
                    // background: no-repeat 50% 50%;
                    // background-size: cover;
                &__pic{
                    // position: absolute;
                    // right: 0;
                    // top: 0;
                    // width: 108vw;
                    // height: 100%;
                    // background: no-repeat 50% 50%;
                    // background-size: cover;
                }
            }
            .promo__item-about{
                &__content{
                    position: absolute;
                    left: 3.7037037%;
                    bottom: 10%;
                    margin-left: 25px;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    p{
                        display: block;
                        overflow: visible;
                        margin-bottom: 7px;
                        line-height: 90px;
                        font-family: 'Rubik', sans-serif;
                        font-size: 80px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                    }
                    span{
                        display: block;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        white-space: nowrap;
                        -webkit-transition: -webkit-transform .175s cubic-bezier(.215,.61,.355,1);
                        transition: transform .175s cubic-bezier(.215,.61,.355,1); 
                    }
                }
            }
        }
    }
}
.ambition{
    margin-top: -20px;
    margin-left: 120px;
    display: block;
    p{
        letter-spacing: 2.4px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        color: #424242;
        &:last-child::after{
            content: 'ions';
            left: 88px;
            color: #f4df4f;
            letter-spacing: 5.4px;
            padding-left: 5px;
            font-weight: 600;
        }
        b{
            color: #f4df4f;
            font-weight: 600;
        }
    }
    .one, .two{
      position: relative;
      color: transparent;
      &:before{
        position: absolute;
        color: #f4df4f;
        font-weight: 600;
      }
    }
    .one:before{
        content: 'i';
        left: -24px;
    }
    .two:before{
        content: 'm';
        left: -14px;
    }
}
.footer{
    max-width: 100%;
    width: 100%;
    background: #fff;
    // height: 85px;
    z-index: 999;
    border-top: 0.5px solid #bababa;
    &__credits{
        justify-content: center;
        a{
            font-family: 'Rubik', sans-serif;
            font-size: 12px;
            letter-spacing: 0.02em;
            line-height: 24px;
            font-weight: 300;
            color: #424242;
            padding-left: 20px;
        }
    }
}

@import 'media';