@import 'vars';
@import 'global';
@import 'fonts';

@media (min-width: 320px){
    .main-page__wrapper{
        height: 100%;
    }
    .header{
        padding: 25px 20px;
        &__logo-link{
            display: block;
            span{
                font-size: 36px;
                line-height: 22px;
                letter-spacing: 2.4px;
                position: relative;
                color: #000;
                font-weight: 500;
                font-family: 'Raleway Dots', cursive;
                // position: fixed;
                // z-index: 800;
                display: block;
                &:after {
                    content: '';
                    border-radius: 100%;
                    height: 3px;
                    width: 3px;
                    position: absolute;
                    background: #f4df4f;
                    top: 88%;
                    left: initial;
                    bottom: 0;
                    display: inline-block;
                }
            }
        }
    }
//NAV MENU start
    .menu__btn{
        width: 28px;
        height: 28px;
        padding: 0;
        background-color: transparent;
        margin-bottom: 0px;
        cursor: pointer;
        &::before,
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background-color: $black;
            display: block;
        }
        &::before{
            margin-bottom: 6px;
        }
    }
    .icon-bar{
        background-color: $black;
        display: block;
        height: 1px;
        width: 100%;
        margin-bottom: 6px;
    }
    .menu__btn.menu__btn--active{
        transition: all 0.5s ease-in-out;
        z-index: 1;
        .icon-bar{
            opacity: 0;
        }
        &::before{
            transform: translateY(6px) rotate(45deg);
            width: 28px;
            transition: all 0.3s ease-in-out;
        }
        &::after{
            transform: translateY(-8px) rotate(-45deg);
            width: 28px;
            transition: all 0.3s ease-in-out;
        }
    }
    .navigation-wrapper {
        top: 14%;
        list-style: none;
        position: absolute;
        left: 35%;
        .navigation-list {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: $sky;
            z-index: 9;
            transform: translateX(1000%);
            transition: transform .6s ease-out;
            &--active{
                transform: translateX(0%);
            }
        }
        .navigation-list > .navigation-item {
            display: block;
            user-select: none;
            margin: 100px 0 0 20px;
            z-index: 1;
            a {
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 45px;
                text-decoration: none;
                //   color: rgba(255, 255, 255, 0.3);
                color: #333;
                span {
                    position: relative;
                    display: block;
                }
            }
            span{
                &::before {
                    top: 0;
                    left: 50%;
                    width: 0;
                    line-height: 100px;
                    color: #f4df4f;
                    overflow: hidden;
                    position: absolute;
                    content: attr(data-text);
                    transition: all 0.6s cubic-bezier(0.84, 0, 0.08, 0.99);
                }
                &:hover::before {
                    width: 100%;
                    animation: line-animation 3s left ;
                }
            }
        }
    }
    .project-preview-wrapper {
        width:100px;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        z-index: 11;
        .project-preview {
            position: fixed;
            left: 28%;
            width: 0px;
            height: 100px;
            background: url(img-1.jpg) no-repeat 50% 50%;
            background-size: cover;
            overflow: hidden;
        }
    }
//NAV MENU end
/* INTRODUCE SECTION start*/
.introduce{
    margin: 20px;
    &__block{
        display: inline-block;
        h6{
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 20px;
            color: $sky;
        }  
        p{
            width: 100%;
            max-width: 482px;
            font-size: 24px;
            line-height: 40px;
            margin-bottom: 50px;
            span{
                color: $sky;
            }
        }
    }
    &__links{
        li{
            margin-right: 25px;
            a{
                cursor: pointer;
                font-size: 18px;
                line-height: 24px;
                // transition: all .1s ease;
                position: relative;
                // display: inline-block;
            }
        }
        #gt, #ig{
            position: relative;
            padding-left: 4px;
            padding-right: 2px;
            &:hover:before {
                width: 100%;
                position: absolute;
            }
        }
        #gt:before,
        #ig:before{
            content: '';
            border-radius: 10%;
            height: 2px;
            width: 0px;
            transition: width .5s;
            position: absolute;
            bottom: 5px;
            left: 0;
            transform: translateY(-1px) rotate(-5deg);
            transform-origin: 0 100%;
        }
        #gt:before{
            background: #bababa;
        }
        #ig:before{
            background: #bababa;
        }
    }
}  
/* INTRODUCE SECTION end*/
/* Progressbar start*/
    .progressbar {
        opacity: 0;
        // left: 97%;
    }
/* Progressbar end*/ 
/* Philosophy SECTION start */
.philosophy{
    opacity: 1;
    position: absolute;
    bottom: 25%;
    left: 50px;
    font-size: 9px;
    p{
        letter-spacing: 2.4px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        color: #424242;
        &:last-child::after{
            content: 'ions';
            left: 88px;
            color: #f4df4f;
            letter-spacing: 5.4px;
            padding-left: 5px;
            font-weight: 600;
        }
        b{
            color: #f4df4f;
            font-weight: 600;
        }
    }
    .one, .two{
      position: relative;
      color: transparent;
      &:before{
        position: absolute;
        color: #f4df4f;
        font-weight: 600;
      }
    }
    .one:before{
        content: 'i';
        left: -24px;
    }
    .two:before{
        content: 'm';
        left: -14px;
    }
}
/* Philosophy SECTION end*/
    .promo{
        display: none;
    }
    .footer{
        z-index: -1;
    }
}
@media (min-width: 568px){
    .introduce{
        margin: 20px 20px 0 60px;
    }
}
@media (min-width: 769px){
.header{
    padding: 50px 0 0 50px;
 }

 /* Progressbar start*/
 .progressbar {
    opacity: 1;
    left: 95%;
    &::after{
        content:'scroll';
        transform: rotate(-90deg) translate(-50%);
        position: absolute;
        color: $black;
        opacity: 0.8;
        letter-spacing: 1px;
        font-size: 16px;
        top: 100%;
        left: -22px;
    }
}
/* Progressbar end*/ 
//  .navigation-list{
//     display:block!important;
// }
.menu__btn{
    display:none;
}
//         span{
//             font-size: 36px;
//             line-height: 22px;
//             letter-spacing: 2.4px;
//             position: relative;
//             color: $black;
//             font-weight: 300;
//             font-family: 'Raleway Dots', cursive;
//             // position: fixed;
//             // z-index: 800;
//             display: block;
//             &:after {
//                 content: '';
//                 border-radius: 100%;
//                 height: 3px;
//                 width: 3px;
//                 position: absolute;
//                 background: #f4df4f;
//                 top: 88%;
//                 left: initial;
//                 bottom: 0;
//                 display: inline-block;
//             }
//         }
//     }
// }
/* INTRODUCE SECTION start*/
.introduce{
    margin: 30px 0 220px 100px;
    &__block{
        h6{
            line-height: 16px;
        }  
        p{
            font-size: 28px;
            line-height: 40px;
        }
    }
    // &__links{
    //     li{
    //         margin-right: 25px;
    //         a{
    //             cursor: pointer;
    //             font-size: 18px;
    //             line-height: 24px;
    //             // transition: all .1s ease;
    //             position: relative;
    //             // display: inline-block;
    //         }
    //     }
    //     #gt, #ig{
    //         position: relative;
    //         padding-left: 4px;
    //         padding-right: 2px;
    //         &:hover:before {
    //             width: 100%;
    //             position: absolute;
    //         }
    //     }
    //     #gt:before,
    //     #ig:before{
    //         content: '';
    //         border-radius: 10%;
    //         height: 2px;
    //         width: 0px;
    //         transition: width .5s;
    //         position: absolute;
    //         bottom: 5px;
    //         left: 0;
    //         transform: translateY(-1px) rotate(-5deg);
    //         transform-origin: 0 100%;
    //     }
    //     #gt:before{
    //         background: #bababa;
    //     }
    //     #ig:before{
    //         background: #bababa;
    //     }
    // }
}  
/* INTRODUCE SECTION end*/
/* Navigation SECTION start*/
.navigation-wrapper {
    top: 14%;
    list-style: none;
    position: absolute;
    left: 35%;
    .navigation-list{
        position: absolute;
        z-index: 1;
    }
    .navigation-list > .navigation-item {
        display: block;
        user-select: none;
        margin: 130px 0 100px;
        a {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 80px;
            text-decoration: none;
            //   color: rgba(255, 255, 255, 0.3);
            color: #333;
            span {
                position: relative;
                display: block;
            }
        }
        span{
            &:before {
                top: 0;
                left: 50%;
                width: 0;
                line-height: 100px;
                color: #f4df4f;
                overflow: hidden;
                position: absolute;
                content: attr(data-text);
                transition: all 0.6s cubic-bezier(0.84, 0, 0.08, 0.99);
            }
            &:hover::before {
                width: 100%;
                animation: line-animation 3s left ;
            }
        }
    }
}
.project-preview-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    .project-preview {
        position: fixed;
        left: 58%;
        width: 0px;
        height: 400px;
        background: url(img-1.jpg) no-repeat 50% 50%;
        background-size: cover;
        overflow: hidden;
    }
}
/* Navigation SECTION end*/
/* PROMO SECTION start */
.promo{
    // height: 50vh;
    // overflow: hidden;
    cursor: default;
    &__next{
        position: absolute;
        z-index: 5;
        right: 0;
        width: 120px;
        height: 100vh;
        background: $sky;
        cursor: pointer;
        top: -50px;
    }
    &__content{
        a{
            .promo__item-about{
                &__content{
                    position: absolute;
                    left: 3.7037037%;
                    bottom: 10%;
                    margin-left: 25px;
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    p{
                        display: block;
                        overflow: visible;
                        margin-bottom: 7px;
                        line-height: 90px;
                        font-family: 'Rubik', sans-serif;
                        font-size: 80px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                    }
                    span{
                        display: block;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        white-space: nowrap;
                        -webkit-transition: -webkit-transform .175s cubic-bezier(.215,.61,.355,1);
                        transition: transform .175s cubic-bezier(.215,.61,.355,1); 
                    }
                }
            }
        }
    }
}
/* PROMO SECTION end */
/* Philosophy SECTION start */
.philosophy{
    margin-left: 120px;
    // position: absolute;
    // bottom: 25px;
    // left: 0;
    display: block!important;
    font-size: 12px;
    p{
        letter-spacing: 2.4px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        color: #424242;
        &:last-child::after{
            content: 'ions';
            left: 88px;
            color: #f4df4f;
            letter-spacing: 5.4px;
            padding-left: 5px;
            font-weight: 600;
        }
        b{
            color: #f4df4f;
            font-weight: 600;
        }
    }
    .one, .two{
      position: relative;
      color: transparent;
      &:before{
        position: absolute;
        color: #f4df4f;
        font-weight: 600;
      }
    }
    .one:before{
        content: 'i';
        left: -24px;
    }
    .two:before{
        content: 'm';
        left: -14px;
    }
}
/* Philosophy SECTION end*/
.footer{
    max-width: 100%;
    width: 100%;
    background: #fff;
    // z-index: 999;
    // border-top: 0.5px solid #bababa;
    &__credits{
        justify-content: center;
        a{
            font-family: 'Rubik', sans-serif;
            font-size: 12px;
            letter-spacing: 0.02em;
            line-height: 30px;
            font-weight: 300;
            color: #424242;
            padding-left: 20px;
        }
    }
}

}
@media (min-width: 1440px){
    .promo{
        display: block;
    }
    .progressbar {
        left: 85%;
    }
    .philosophy{
        opacity: 1;
    }
}